
button{
  background-color: transparent;
  color: #26252d;
  cursor: pointer;
  width: auto;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 700;
    
}


.styleBottonPlayer{
  background-color: #d5303e; //red tomate
  width: 60px;
  margin: 10px 2px 2px 2px;
  align-items: center;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.containerGroupButton{
  width: 80px;
  background-color: #26252d;
  border-radius: 5px;
  padding: 30px 0 49px 0;
  margin: auto;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 4px, rgba(0, 0, 0, 0.3) 0px -7px 13px -3px, rgba(0, 0, 0, 0.034) 0px 3px 0px inset;
  
    .groupBotton{
      display: flex;
      width: 60px;
      height: 60px;
      background-color: #d5303e; //red tomate
      border-radius: 120px;
      margin: 15px auto 15px auto;
      padding: 10px 0 10px 0;
    }
}



