$colorGreyishBlue:#26252d;
$colorDarkGreyishBlue:#1f1e23; 
$colorLightPink: #c4949c;
$colorRedTomato: #d5303e; 
$fontStyle:"Public Sans", sans-serif;
$weightFont: 300;
$weightFontButton: 700; 
$boxShadowHoverButton: rgba(213, 48, 62, 0.906) 0 -25px 18px -14px inset,rgba(234, 27, 45,.25) 0 1px 2px,rgba(234, 27, 45,.25) 0 2px 4px,rgba(234, 27, 45,.25) 0 4px 8px,rgba(234, 27, 45,.25) 0 8px 16px,rgba(234, 27, 45,.25) 0 16px 32px;
$boxShadowDisplay:rgba(0, 0, 0, 0.4) 0px -2px 4px, rgba(0, 0, 0, 0.3) 0px -7px 13px -3px, rgba(0, 0, 0, 0.034) 0px 3px 0px inset;
