//desktop layout
@media only screen and (min-width:961px){
    .headerStyle{
        height: auto;
        font-size: 2.5em;

        .tomatoSlice{
            width: 80px;
        }
    }

    .wrapper-column{
        display: block;
    }

    .column-counter{
        display: grid;
        grid-template-columns: 1fr auto;
        margin: 40px;
        height: auto;

            p{
                width: 90%;
                margin: auto;
            }

            #display-countdown{
                width: 90%;
                margin: auto;
            }
    }

    .display{
        height: auto;
        font-size: 4em;
        padding: 10px;

        &:hover{
            box-shadow: rgba(255, 228, 225, 0.56) 0px 0px 30px 4px;
        }
    }

    .styleButtonPlayer{
        width: 120px;
        font-size: 1.5em;
        margin-right: 20px;
            
            &:hover {
                box-shadow:$boxShadowHoverButton;
                    transform: scale(1.05);
            }

            &:active{
                transform: translateY(4px);
            }
    }

    .refreshStyle{
        margin-right: 0 !important; 
    }


    .containerGroupButton{
        width: 160px;
        padding: 20px 0 20px 0;
        
            .groupButton{
                width: 100px;
                height: 100px;
                border-radius: 200px;
                
                &:hover {
                    box-shadow:$boxShadowHoverButton;
                    transform: scale(1.05);
                }

                &:active{
                    transform: translateY(4px);
                }
            }

            button{
                padding: 20px;
                font-size: 1.5em;
            }

    }

    .column-footer{

        a:hover {
            box-shadow:$boxShadowHoverButton;
            transform: scale(1.05);
        }
    }

    //start custom scrollbar
    ::-webkit-scrollbar {
        width: 10px;
    }
  
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $colorDarkGreyishBlue;
   
    }
   
    ::-webkit-scrollbar-thumb {
        background: $colorDarkGreyishBlue;
    }
  
    ::-webkit-scrollbar-thumb:hover {
        background: $colorLightPink; 
    }
    //finish custom scrollbar 
}


