.column-footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 5px;
    align-items: center;
    color: $color-dark;
    background-color: $color-pred-trasp;

    a{
        text-decoration: none; 
       }
}

.extra, .column-footer{
    height: 100px; //to send the footer at the bottom of the page when the content is not enough
}