
.headerStyle{
    
    width: 100%;
    height: 60px;
    background-color: #121212;
    color: #d5303e; //red tomate
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    font-family: "Public Sans", sans-serif;
    font-weight: 300; 
    
}

.containerTomateSlice{
    margin: auto;
    display: flex;
    justify-content: end;

    .tomateSlice{
        width: 40px;
        background-color: #c4949c; //red tomate
        border-radius: 60px;
        border: 2px solid #d5303e; //red tomate
        margin: 10px;
    }
}




