
.headerStyle{
    width: 100%;
    background-color: $colorDarkGreyishBlue;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    font-family: $fontStyle;
    font-weight: $weightFont;
    color: $colorRedTomato;
    white-space: nowrap;
    margin-bottom: 60px;
}

.containerTomatoSlice{
    margin: auto;
    display: flex;
    justify-content: end;

    .tomatoSlice{
        width: 40px;
        border-radius: 80px;
        margin: 10px;
    }
}




