@import 'buttonStyle';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #26252d;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.headerStyle{
    width: 100%;
    height: 60px;
    background-color: black;
    color: #26252d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Public Sans", sans-serif;
    font-weight: 300; 
}

.column-counter{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    margin-top: 80px;
}

#row-botton{
    /*used to position buttons to the right of displays.
    The element will start on row 1 and column 2 and span 3 rows and 1 column*/
    grid-area: 1 / 2 / span 3 / span 1;
}


.groupBotton{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 120px;
    margin: 5px auto 5px auto;
    padding: 10px 0 10px 0;
}

.row-interface{
    width:100%;
    margin-bottom: 10px;
    text-align: center;

}

.display{
    width: 200px;
    height: 60px;
    margin-left: 10px;
    padding: 10px;
    background-color:  #26252d;
    color: rgb(196, 148, 156);
    font-size: 2em;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 4px, rgba(0, 0, 0, 0.3) 0px -7px 13px -3px, rgba(0, 0, 0, 0.034) 0px 3px 0px inset;
        &:hover{
            box-shadow: rgba(255, 228, 225, 0.56) 0px 0px 30px 4px;
        }

        div{
            display: inline-block;
        }
}


.refreshStyle{
    width: 50px;
    font-weight: 700;
    font-size: 1.2em;
    vertical-align: bottom;
    text-align: center;
        #circleArrows{
            width: 20px;
            margin-top: 2px;
                &:hover{
                    transform: rotate(-135deg);
                }
        }
}

