@import 'config';
@import 'buttonStyle';
@import 'headerStyle';



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $colorGreyishBlue;
    font-family: $fontStyle;
    font-weight: $weightFont;
}

.wrapper-column {
    display: flex;
    justify-content: center; /* Center the grid container horizontally */
}

.column-counter{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: right;
    column-gap: 20px;
}
  

#row-button{
    /*used to position buttons to the right of displays.
    The element will start on row 1 and column 2 and span 3 rows and 1 column*/
    grid-area: 1 / 2 / span 3 / span 1;
}



.row-interface{
    width:100%;
    margin-bottom: 36px;
    text-align: center;
}

.display{
    width: 260px;
    height: 78px;
    border-radius: 5px;
    padding: 10px;
    background-color: $colorGreyishBlue;
    color: $colorLightPink;
    font-size: 2.5em;
    white-space: nowrap;
    box-shadow: $boxShadowDisplay;

        div{
            display: inline-block;
        }
}


.refreshStyle{
    width: 80px;
    height: 40px;
    font-weight: $weightFontButton;
    font-size: 1.2em;
    vertical-align: bottom;
    text-align: center;
        #circleArrows{
            width: 20px;
            margin-top: 2px;
                &:hover{
                    transform: rotate(-135deg);
                }
        }
}

@import 'tablet';
@import 'desktop';