@import 'buttonStyle';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #26252d;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

.column-counter{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 180px;
}

.row-interface{
    width:100%;
    margin-bottom: 10px;
    text-align: center;
}

.display{
    width: 100%;
    height: 60px;
    background-color: rgb(143, 130, 136);
    color: rgb(196, 148, 156);
    font-size: 3em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 4px, rgba(0, 0, 0, 0.3) 0px -7px 13px -3px, rgba(0, 0, 0, 0.034) 0px 3px 0px inset;
        &:hover{
            box-shadow: rgba(255, 228, 225, 0.56) 0px 0px 30px 4px;
        }
}


.refreshStyle{
    width: 50px;
    font-weight: 700;
    font-size: 1.2em;
    vertical-align: bottom;
    text-align: center;
        #circleArrows{
            width: 20px;
            margin-top: 2px;
                &:hover{
                    transform: rotate(-135deg);
                }
        }
}

